<div class='table-responsive'>
<table class='table'>
    <thead>
        <tr>
            <th>Welcome to Bucket</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type='text' placeholder='Username'
                  [(ngModel)]='username' />
            </td>
        </tr>
        <tr>
            <td>
                <input type='text' placeholder='Password'
                  [(ngModel)]='password' />
            </td>
        </tr>
        <tr>
            <button class='btn btn-primary'
                (click)='registerUser()'>
                Register
            </button>
        </tr>
        <tr>
            {{username}}
            <button class='btn btn-primary'
                (click)='loginUser()'>
                Login
            </button>
        </tr>
    </tbody>
</table>
</div>