.text {
    text-align: center;
}

.page-header {
    margin-top: 85px;
}

.form-control {
    width: 50%;
    display: inline-block;
}

.modal-content {
    background-image: url(./assets/images/vintage_speckles.png);
}

.modal-header {
    border-bottom-color: #2BBBAD;
}

.modal-footer {
    border-top-color: #2BBBAD;
}

#signup a, a:focus, a:hover {
    color: #ff6f69;
    text-decoration: underline;
}

#alertButton {
    margin-top: 85px;
    font-weight: 500;
    letter-spacing: 2px;
}

#alertButton>a, a:focus, a:hover{
    text-decoration: none;
}

.btn {
    width: 50%;
}

.btn:hover{
    color: #ff6f69 !important;
    border: none;
    text-shadow: none !important;
}
