.text {
    text-align: center;
}

.page-header {
    margin-top: 85px;
}

.form-control {
    width: 50%;
    display: inline-block;
}

#signup a, a:focus, a:hover {
    color: #ff6f69;
    text-decoration: underline;
}

#alertButton {
    margin-top: 85px;
    font-weight: 500;
    letter-spacing: 2px;
}

#alertButton>a, a:focus, a:hover{
    text-decoration: none;
}

.btn {
    width: 50%;
}

.btn:hover{
    color: #ff6f69 !important;
    border: none;
    text-shadow: none !important;
}
