#nameInput {
    margin-left: 200px;
    margin-top: 85px;
    width: 30%; 
}

.card-title {
    text-align: center;
}

.card-block{
    margin: 0 auto;
    position: absolute;
}

.btn {
    position: relative;
}

.footer {
    display: inline-block;
    font-size: small;
    color: #2BBBAD;
    font-weight: 500;
    margin-top: 30%;
}

.default-color-dark {
     background-color: transparent !important; 
}
