<div>
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <ul class='nav navbar-nav'>
            <li><a [routerLink]="['/bucket']">Back to your bucketlists</a></li>
        </ul>
    </div>
</nav>
</div>
<div>
   name: <input type='text' [(ngModel)]='name' />
    <button class='btn btn-primary'
        (click)='createItem()'>
        Create Item
    </button>
</div>
<div>
   name: <input type='text' [(ngModel)]='name' />
    <button class='btn btn-primary'
        (click)='updateItemName(item.id)'>
        Update Item Name
    </button>
</div>
<h1>List of items</h1>
<div class='table-responsive'>
<table class='table'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Created by</th>
        </tr>
    </thead>
    <tbody *ngIf="bucketlist">
        <tr *ngFor='let item of bucketlist.items'>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.date_created }}</td>
            <td>{{ item.date_modified }}</td>
            <td>{{ item.created_by }}</td>
            <td>
                <button class='btn btn-primary'
                (click)='deleteItem(item.id)'>
                Delete
                </button>
            </td>
        </tr>
    </tbody>