<div>
   <input type='text' [(ngModel)]='name' id='nameInput' placeholder='Name'/>
   <button class='btn btn-default'(click)='createBucketlist()'>New bucket</button>
</div>
<!--Panel-->
<div class="container">
<div class="row">
    <div class="col-md-12">
            <div class="data" *ngIf='bucketlists'>
                <div class="card text-xs-center" *ngFor='let bucketlist of bucketlists | paginate: { itemsPerPage: 10, currentPage: p, totalItems: count }; let i = index'>
                    <div class="col-md-6">
                    <div class="card-block">
                        <h3 class="card-title"><a [routerLink]="['/bucket', bucketlist.id]">{{ bucketlist.name }}</a></h3>
                        <button class='btn btn-default' data-toggle='modal' [attr.data-target]="'#myModal' + i"
                                (click)='onEdit(bucketlist.name)'>Edit</button>
                        <button class='btn btn-default' (click)='deleteBucketlist(bucketlist.id)'>Delete</button>
                    </div>
                    <div class="card-footer text-muted default-color-dark white-text">
                        <p class="footer">date created: {{ bucketlist.date_created }}<br>date modified: {{ bucketlist.date_modified }}</p>
                    </div>
                    <!--Editing Modal -->
                    <div [id]="'myModal' + i" class='modal fade' role='dialog'>
                        <div class='modal-dialog'>
                            <!-- Modal content-->
                            <div class='modal-content'>
                            <div class='modal-header'>
                                <button type='button' class='close' data-dismiss='modal'
                                (click)='cancelEdit(i)'>&times;</button>
                                <h4 class='modal-title'>Edit {{bucketlist.name}}</h4>
                            </div>
                            <div class='modal-body'>
                                Write a new name for this bucket:<input type='text' required [(ngModel)]='bucketlist.name' #bucketlistName=ngModel class='form-control' />
                            </div>
                            <div class='modal-footer'>
                                <button class='btn btn-default'(click)='updateBucketlist(bucketlist.id, bucketlist.name, i);' data-dismiss='modal'[disabled]='bucketlistName.invalid'>Save</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/.Panel-->
<div class='row'><pagination-controls (pageChange)='p = $event '#api></pagination-controls></div>
