.text {
    text-align: center;
}

#nameInput {
    display: inline-block;
    margin-top: 85px;
    width: 30%;
}

.card-block{
    display: inline-block;
    margin: 0 auto;
}

.card-title {
    text-align: center;
}

.card .card-title a:hover {
    color: #ff6f69;
}

.btn {
    position: relative;
}

.footer {
    display: inline-block;
    font-size: small;
    color: #2BBBAD;
    font-weight: 500;
}

.default-color-dark {
     background-color: transparent !important; 
}

.modal-content {
    text-align: left;
}
