#nameInput {
    width: 50%;
}

.header {
    margin-bottom: 50px;
}

.pager {
    margin: 40px 0;
}

.pager li>a, .pager li>span {
    color: #2BBBAD;
    background-color: transparent !important; 
}

.pager li>a:hover {
    color: #ff6f69;
}

.table>tbody>tr>td {
    vertical-align: middle;
}
