.text {
    text-align: left;
}

#nameInput {
    display: inline-block;
    width: 30%;
}

.header {
    margin-bottom: 50px;
}

.pager {
    display: inline-block;
    margin-top: 80px;
}

.pager li>a, .pager li>span {
    color: #2BBBAD;
    background-color: transparent !important; 
}

.pager li>a:hover {
    color: #ff6f69;
}

.table {
    display: inline-table;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.modal-content {
    background-image: url(./assets/images/vintage_speckles.png);
}

.modal-header {
    border-bottom-color: #2BBBAD;
}

.modal-footer {
    border-top-color: #2BBBAD;
}
