<h1>List of bucketlists</h1>
<div>
   <input type='text' [(ngModel)]='name' placeholder='Name'/>
   <button class='btn btn-primary'(click)='createBucketlist()'>Create Bucketlist</button>
</div>
<div class='table-responsive'>
<table class='table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Created by</th>
        </tr>
    </thead>
    <tbody *ngIf='bucketlists'>
        <tr *ngFor='let bucketlist of bucketlists | paginate: { itemsPerPage: 10, currentPage: p, totalItems: count }; let i = index'>
            <td><a [routerLink]="['/bucket', bucketlist.id]"> {{ bucketlist.name }}</a></td>
            <td>{{ bucketlist.date_created }}</td>
            <td>{{ bucketlist.date_modified }}</td>
            <td>{{ bucketlist.created_by }}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#myModal' + i"
                    (click)='onEdit(bucketlist.name)'>Edit</button>
                <button class='btn btn-primary'(click)='deleteBucketlist(bucketlist.id)'>Delete</button>
            </td>
             <!-- Modal -->
            <div [id]="'myModal' + i" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit {{bucketlist.name}}</h4>
                    </div>
                    <div class="modal-body">
                        Name: <input type='text' [(ngModel)]='name' />
                    </div>
                    <div class="modal-footer">
                        <button class='btn btn-primary'(click)='updateBucketlist(bucketlist.id)'  data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
        </tr>
        <div class='row'><pagination-controls (pageChange)="p = $event" #api></pagination-controls></div>
    </tbody>
